{% load static %}

<link rel="dns-prefetch" href="https://st.kinobase.org/" />
<link rel="preconnect" href="https://st.kinobase.org/" />
<link
  rel="icon"
  href=""
  type="image/png"
/>
<link
  rel="icon"
  href=""
  type="image/x-icon"
/>
<link
rel="stylesheet"
href="{% static 'css/style864e.css' %}"
type="text/css"
/>

<script src="{% static 'js/jqueryae52.js' %}" defer></script>
<script src="{% static 'js/bootae52.js' %}" defer></script>
<script
  src="{% static 'js/master864e.js' %}"
  defer
></script>