{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div id="main">
    <div class="container">
      <div id="index_page">
        <ul class="items">

      
          {% if "category" in request.path or "genre_filter" in request.path or "sort" in request.path  %}         
            <div id="filters_row" style="display: flex;justify-content: space-between;">
              <div class="left">
                  <h1>{{ one_category.name }}</h1>
              </div>
              <div class="right" id="filters">
                  <div class="dropdown">
                      <a class="dropdown-toggle" rel="nofollow" href="#" alt="Фильтры" title="Фильтры" data-toggle="dropdown">
                                  <svg height="18" width="18" class="icon" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M8 7.1a1.35 1.35 0 1 0 0-2.7 1.35 1.35 0 0 0 0 2.7Zm0 1.4c1.259 0 2.32-.846 2.646-2H21.25a.75.75 0 0 0 0-1.5H10.646a2.751 2.751 0 0 0-5.292 0H2.75a.75.75 0 0 0 0 1.5h2.604A2.751 2.751 0 0 0 8 8.5Zm8 4.85a1.35 1.35 0 1 0 0-2.7 1.35 1.35 0 0 0 0 2.7Zm2.646-.6a2.751 2.751 0 0 1-5.293 0H2.75a.75.75 0 0 1 0-1.5h10.604a2.751 2.751 0 0 1 5.293 0h2.603a.75.75 0 0 1 0 1.5h-2.604Zm-9.296 5.5a1.35 1.35 0 1 1-2.7 0 1.35 1.35 0 0 1 2.7 0Zm1.296.75a2.751 2.751 0 0 1-5.292 0H2.75a.75.75 0 0 1 0-1.5h2.604a2.751 2.751 0 0 1 5.292 0H21.25a.75.75 0 0 1 0 1.5H10.646Z" clip-rule="evenodd"/></svg> <span>Фильтры</span>
                              </a>
              
                      <div id="filter" class="dropdown-menu dropdown-menu-right">
                          <ul id="filter_main">
                              <li>
                                <a href="#" onclick="dropdown_filter('genres', true);return false;">
                                  <span class="left">Жанр</span> 
                                  <span class="right">
                                    <span class="next">
                                    </span>
                                  </span>
                                </a>
                              </li>
                              <li>
                                <a href="#" onclick="dropdown_filter('countries', true);return false;">
                                  <span class="left">Страна</span>
                                  <span class="right">
                                  <span class="next"></span>
                                  </span>
                                </a>
                              </li>
                              <li>
                                <a href="#" onclick="dropdown_filter('years', true);return false;">
                                  <span class="left">Год</span> 
                                  <span class="right">
                                    <span class="next"></span></span>
                                  </a>
                                </li>
                                              <li><a href="#" onclick="dropdown_filter('video', true);return false;"><span class="left">Качество</span> <span class="right"><span class="next"></span></span></a></li>
                            </ul>
                        <form action="{% url 'movie:filter_genre' %}" method="get" id="search_form">
                          <div id="filter_genres" class="hide">
                              <ul>
                                  <li><a href="#" class="title-options" onclick="dropdown_filter('genres', false);return false;"><span class="prev"></span> Жанр</a></li>
                                  <li role="separator" class="divider"></li>
                              </ul>
                             
                              <ul id="genres" class="options" style="padding: 10px;">
                                  {% for i in genres %}
                                    <li><input type="checkbox" name="genre[]" value="{{ i.slug }}"><span style="margin-left: 5px;">{{ i.name }}</span></li>
                                  {% endfor %}                                
                              </ul>
                          </div>
              
                          <div id="filter_countries" class="hide">
                              <ul>
                                  <li><a href="#" class="title-options" onclick="dropdown_filter('countries', false);return false;"><span class="prev"></span> Страна</a></li>
                                  <li role="separator" class="divider"></li>
                              </ul>
                           
                              <ul id="countries" class="options">
                                {% for i in countries %}
                                <li style="padding: 5px ;"><input type="checkbox" name="country[]" value="{{ i }}"><span style="margin-left: 5px;">{{ i.name }}</span></li>
                                {% endfor %}
                              </ul>
                              
                          </div>
              
                          <div id="filter_years" class="hide">
                              <ul>
                                  <li><a href="#" class="title-options" onclick="dropdown_filter('years', false);return false;"><span class="prev"></span> Год</a></li>
                                  <li role="separator" class="divider"></li>
                              </ul>
                              <ul id="years" class="options">
                                {% for i in years %}
                                <li style="padding: 5px ;"><input type="checkbox" name="years[]" value="{{ i }}"><span style="margin-left: 5px;">{{ i }}</span></li>
                                {% endfor %}
                              </ul>
                          </div>
              
                          <div id="filter_video" class="hide">
                              <ul>
                                  <li><a href="#" class="title-options" onclick="dropdown_filter('video', false);return false;"><span class="prev"></span> Качество</a></li>
                                  <li role="separator" class="divider"></li>
                              </ul>
                              <ul id="video" class="options">
                                {% for i in quality %}
                                <li style="padding: 5px ;"><input type="checkbox" name="quality[]" value="{{ i }}"><span style="margin-left: 5px;">{{ i }}</span></li>
                                {% endfor %}
                              </ul>
                          </div>
              
                          <div class="buttons">
                            <center>
                                <button class="btn" id="clear_filters">Сбросить</button>
                                <button class="btn" id="submit_filters">Применить</button>
                            </center>
                        </div>
                      </form>
                      </div>
                      
                  </div>
              
                  <div class="dropdown">
                      <a class="dropdown-toggle sort" rel="nofollow" href="#" alt="Сортировать" title="Сортировать" data-toggle="dropdown">
                                  <svg height="18" width="18" class="icon" viewBox="0 0 24 24"><path fill="currentColor" d="M8 17H4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2ZM14 11H4a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2ZM20 5H4a1 1 0 0 0 0 2h16a1 1 0 1 0 0-2Z"/></svg> <span>Сортировать</span>
                              </a>
              
                      <ul class="dropdown-menu dropdown-menu-right">
                          <li class="active"><a href="{% url 'movie:sort' "new" %}" rel="nofollow">Новинки</a></li>
                          <li><a href="{% url 'movie:sort' "year" %}" rel="nofollow">Год</a></li>
                          <li><a href="{% url 'movie:sort' "for_day" %}" rel="nofollow">Популярные за сутки</a></li>
                          <li><a href="{% url 'movie:sort' "for_week" %}" rel="nofollow">Популярные за неделю</a></li>
                          <li><a href="{% url 'movie:sort' "for_month" %}" rel="nofollow">Популярные за месяц</a></li>
                          <li><a href="{% url 'movie:sort' "for_all_time" %}" rel="nofollow">Популярные за все время</a></li>
                          <li><a href="{% url 'movie:sort' "for_user" %}" rel="nofollow">Рейтинг пользователей</a></li>
                                      <li><a href="{% url 'movie:sort' "for_kinobase" %}" rel="nofollow">Рейтинг Кинопоиск</a></li>
                          <li><a href="{% url 'movie:sort' "for_imdb" %}" rel="nofollow">Рейтинг IMDb</a></li>
                                  </ul>
                  </div>
              </div>
              </div>
              <br>  
      {% endif %} 
      
          {% for movie in object_list %}
            <li class="item">
              <div class="poster">
                <a href="{% url 'movie:movie_detail' movie.slug %}">
                  <img src="{{movie.cover.url}}" class="img-responsive" loading="lazy" alt="{{movie.title}}" title="{{movie.title}}" width="242" height="358" /></a>
                  <a href="{% url 'movie:add_to_favorite' movie.id %}" 
                  class="favorite {% if movie in request.user.profile.favorites.all %} is_favorited {% endif %}" data-movie-id="231473" title="
                  {% if movie in request.user.profile.favorites.all %}
                  Удалить из избранного
                  {% else %}
                  Добавить в избранное
                  {% endif %}"></a>
              </div>
              <div class="title">
                <a href="film/231473-navodnenie.html" alt="{{movie.title}}" title="{{movie.title}}">
                  {{movie.title}}
                </a>
              </div>
              <span class="rating">{{movie.rating}}</span>
              <span class="year">{{movie.year}}, {{movie.quality|upper}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
