{% extends "base.html" %}
{% load static %}
{% block content %}
      <div id="main">
        <div class="container">
          <div id="index_page">
            <h2><a href="filmsa692.html?sort=viewed_week">Популярные</a></h2>
            <ul class="items">
              <li class="item">
                <div class="poster">
                  <a href="film/231269-pokazhi-mne-lunu.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/b35cd8738167a6887e50.jpg" class="img-responsive" loading="lazy" alt="Покажи мне Луну (2024)" title="Покажи мне Луну (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="231269" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/231269-pokazhi-mne-lunu.html" alt="Покажи мне Луну (2024)" title="Покажи мне Луну (2024)">Покажи мне Луну</a>
                </div>
                <span class="rating">7.3</span><span class="year">2024, TS</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/225333-tihoe-mesto-den-pervyy.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/03/d6549cce6aa9ded46a78.jpg" class="img-responsive" loading="lazy" alt="Тихое место: День первый (2024)" title="Тихое место: День первый (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="225333" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/225333-tihoe-mesto-den-pervyy.html" alt="Тихое место: День первый (2024)" title="Тихое место: День первый (2024)">Тихое место: День первый</a>
                </div>
                <span class="rating">7.5</span><span class="year">2024, TS</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/225328-gadkiy-ya-4.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/03/33dca1b79ef2cdf6b5f0.jpg" class="img-responsive" loading="lazy" alt="Гадкий я 4 (2024)" title="Гадкий я 4 (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="225328" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/225328-gadkiy-ya-4.html" alt="Гадкий я 4 (2024)" title="Гадкий я 4 (2024)">Гадкий я 4</a>
                </div>
                <span class="rating">7.7</span><span class="year">2024, TS</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/231287-golovolomka-2.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/03/3c94c32bee9277552e46.jpg" class="img-responsive" loading="lazy" alt="Головоломка 2 (2024)" title="Головоломка 2 (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="231287" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/231287-golovolomka-2.html" alt="Головоломка 2 (2024)" title="Головоломка 2 (2024)">Головоломка 2</a>
                </div>
                <span class="rating">7.6</span><span class="year">2024, TS</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/231441-opasnye-vody.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/703f389a407c8634f896.jpg" class="img-responsive" loading="lazy" alt="Опасные воды (2023)" title="Опасные воды (2023)" width="242" height="358" /></a><button class="favorite" data-movie-id="231441" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/231441-opasnye-vody.html" alt="Опасные воды (2023)" title="Опасные воды (2023)">Опасные воды</a>
                </div>
                <span class="rating">7.2</span><span class="year">2023, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/230572-neposlushniki.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/f6bf7eab299b8738d45f.jpg" class="img-responsive" loading="lazy" alt="Непослушники (2024)" title="Непослушники (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="230572" title="Добавить в избранное"></button><div class="label">Лицензия</div>
                </div>
                <div class="title">
                  <a href="film/230572-neposlushniki.html" alt="Непослушники (2024)" title="Непослушники (2024)">Непослушники</a>
                </div>
                <span class="rating">7.2</span><span class="year">2024, BDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/229898-plohie-parni-do-kontsa.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/ec6ec2dfc1d50e88af5e.jpg" class="img-responsive" loading="lazy" alt="Плохие парни до конца (2024)" title="Плохие парни до конца (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="229898" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/229898-plohie-parni-do-kontsa.html" alt="Плохие парни до конца (2024)" title="Плохие парни до конца (2024)">Плохие парни до конца</a>
                </div>
                <span class="rating">7.6</span><span class="year">2024, TS</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/225334-furiosa-hroniki-bezumnogo-maksa.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/d6bf6097425c5e46ce8c.jpg" class="img-responsive" loading="lazy" alt="Фуриоса: Хроники Безумного Макса (2024)" title="Фуриоса: Хроники Безумного Макса (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="225334" title="Добавить в избранное"></button><div class="label">Лицензия</div>
                </div>
                <div class="title">
                  <a href="film/225334-furiosa-hroniki-bezumnogo-maksa.html" alt="Фуриоса: Хроники Безумного Макса (2024)" title="Фуриоса: Хроники Безумного Макса (2024)">Фуриоса: Хроники Безумного Макса</a>
                </div>
                <span class="rating">7.7</span><span class="year">2024, BDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/230030-vinni-puh-krov-i-med-2.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/a144a53c4979bbf4d75c.jpg" class="img-responsive" loading="lazy" alt="Винни-Пух: Кровь и мёд 2 (2024)" title="Винни-Пух: Кровь и мёд 2 (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="230030" title="Добавить в избранное"></button><div class="label">Лицензия</div>
                </div>
                <div class="title">
                  <a href="film/230030-vinni-puh-krov-i-med-2.html" alt="Винни-Пух: Кровь и мёд 2 (2024)" title="Винни-Пух: Кровь и мёд 2 (2024)">Винни-Пух: Кровь и мёд 2</a>
                </div>
                <span class="rating">7</span><span class="year">2024, BDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/229279-atlas.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/8422f7729421cbc16503.jpg" class="img-responsive" loading="lazy" alt="Атлас (2024)" title="Атлас (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="229279" title="Добавить в избранное"></button><div class="label">Лицензия</div>
                </div>
                <div class="title">
                  <a href="film/229279-atlas.html" alt="Атлас (2024)" title="Атлас (2024)">Атлас</a>
                </div>
                <span class="rating">7.7</span><span class="year">2024, BDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/225332-planeta-obezyan-novoe-tsarstvo.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/068f6ce1397383c35fe8.jpg" class="img-responsive" loading="lazy" alt="Планета обезьян: Новое царство (2024)" title="Планета обезьян: Новое царство (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="225332" title="Добавить в избранное"></button><div class="label">Лицензия</div>
                </div>
                <div class="title">
                  <a href="film/225332-planeta-obezyan-novoe-tsarstvo.html" alt="Планета обезьян: Новое царство (2024)" title="Планета обезьян: Новое царство (2024)">Планета обезьян: Новое царство</a>
                </div>
                <span class="rating">7.6</span><span class="year">2024, BDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/227596-chernaya-vdova-ukus-smerti.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/04/dfec8deac7ed318faf25.jpg" class="img-responsive" loading="lazy" alt="Черная вдова. Укус смерти (2024)" title="Черная вдова. Укус смерти (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="227596" title="Добавить в избранное"></button><div class="label">Лицензия</div>
                </div>
                <div class="title">
                  <a href="film/227596-chernaya-vdova-ukus-smerti.html" alt="Черная вдова. Укус смерти (2024)" title="Черная вдова. Укус смерти (2024)">Черная вдова. Укус смерти</a>
                </div>
                <span class="rating">7.3</span><span class="year">2024, BDRip</span>
              </li>
            </ul>

            <h2><a href="films.html">Фильмы</a></h2>
            <ul class="items">
              <li class="item">
                <div class="poster">
                  <a href="film/231473-navodnenie.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/df812df7f6231b742588.png" class="img-responsive" loading="lazy" alt="Наводнение (2023)" title="Наводнение (2023)" width="242" height="358" /></a><button class="favorite" data-movie-id="231473" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/231473-navodnenie.html" alt="Наводнение (2023)" title="Наводнение (2023)">Наводнение</a>
                </div>
                <span class="rating">6.2</span><span class="year">2023, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/230273-ekzortsizm.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/f95243eb20b6f43acb1a.jpg" class="img-responsive" loading="lazy" alt="Экзорцизм (2024)" title="Экзорцизм (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="230273" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/230273-ekzortsizm.html" alt="Экзорцизм (2024)" title="Экзорцизм (2024)">Экзорцизм</a>
                </div>
                <span class="rating">7.1</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/230054-na-krayu-zemli.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/295b25017f82f9dc50fe.jpg" class="img-responsive" loading="lazy" alt="На краю земли (2023)" title="На краю земли (2023)" width="242" height="358" /></a><button class="favorite" data-movie-id="230054" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/230054-na-krayu-zemli.html" alt="На краю земли (2023)" title="На краю земли (2023)">На краю земли</a>
                </div>
                <span class="rating">7.3</span><span class="year">2023, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/231471-sginuvshie-v-nochi.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/2ff723f8bf6e1ee9e9ca.jpg" class="img-responsive" loading="lazy" alt="Сгинувшие в ночи (2024)" title="Сгинувшие в ночи (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="231471" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/231471-sginuvshie-v-nochi.html" alt="Сгинувшие в ночи (2024)" title="Сгинувшие в ночи (2024)">Сгинувшие в ночи</a>
                </div>
                <span class="rating">6</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/230572-neposlushniki.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/f6bf7eab299b8738d45f.jpg" class="img-responsive" loading="lazy" alt="Непослушники (2024)" title="Непослушники (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="230572" title="Добавить в избранное"></button><div class="label">Лицензия</div>
                </div>
                <div class="title">
                  <a href="film/230572-neposlushniki.html" alt="Непослушники (2024)" title="Непослушники (2024)">Непослушники</a>
                </div>
                <span class="rating">7.2</span><span class="year">2024, BDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/231470-kasper-i-piraty.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/10d68bac3b0ed9c764b7.jpg" class="img-responsive" loading="lazy" alt="Каспер и пираты (2022)" title="Каспер и пираты (2022)" width="242" height="358" /></a><button class="favorite" data-movie-id="231470" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/231470-kasper-i-piraty.html" alt="Каспер и пираты (2022)" title="Каспер и пираты (2022)">Каспер и пираты</a>
                </div>
                <span class="rating">5.8</span><span class="year">2022, TS</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/231450-buntar.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/cea161bca0cb857cbdab.jpg" class="img-responsive" loading="lazy" alt="Бунтарь (2022)" title="Бунтарь (2022)" width="242" height="358" /></a><button class="favorite" data-movie-id="231450" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/231450-buntar.html" alt="Бунтарь (2022)" title="Бунтарь (2022)">Бунтарь</a>
                </div>
                <span class="rating">5.6</span><span class="year">2022, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/227611-ebigeyl.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/04/f7109c9ba205ee3369a4.jpg" class="img-responsive" loading="lazy" alt="Эбигейл (2024)" title="Эбигейл (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="227611" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/227611-ebigeyl.html" alt="Эбигейл (2024)" title="Эбигейл (2024)">Эбигейл</a>
                </div>
                <span class="rating">7.6</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/231449-nochnoy-zames.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/664f4eba75669dccee1f.jpg" class="img-responsive" loading="lazy" alt="Ночной замес (2023)" title="Ночной замес (2023)" width="242" height="358" /></a><button class="favorite" data-movie-id="231449" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/231449-nochnoy-zames.html" alt="Ночной замес (2023)" title="Ночной замес (2023)">Ночной замес</a>
                </div>
                <span class="rating">6.7</span><span class="year">2023, TS</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/230510-malenkaya-devochka-v-golubom.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/62047587e29a0a0183d5.jpg" class="img-responsive" loading="lazy" alt="Маленькая девочка в голубом (2023)" title="Маленькая девочка в голубом (2023)" width="242" height="358" /></a><button class="favorite" data-movie-id="230510" title="Добавить в избранное"></button><div class="label">Лицензия</div>
                </div>
                <div class="title">
                  <a href="film/230510-malenkaya-devochka-v-golubom.html" alt="Маленькая девочка в голубом (2023)" title="Маленькая девочка в голубом (2023)">Маленькая девочка в голубом</a>
                </div>
                <span class="rating">6.5</span><span class="year">2023, BDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/230954-papulya.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/ab941f890d530866c27e.jpg" class="img-responsive" loading="lazy" alt="Папуля (2023)" title="Папуля (2023)" width="242" height="358" /></a><button class="favorite" data-movie-id="230954" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/230954-papulya.html" alt="Папуля (2023)" title="Папуля (2023)">Папуля</a>
                </div>
                <span class="rating">7.3</span><span class="year">2023, TS</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="film/231446-emma-v-mire-lam.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/9576d88223190d2f7894.jpg" class="img-responsive" loading="lazy" alt="Эмма в мире лам (2024)" title="Эмма в мире лам (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="231446" title="Добавить в избранное"></button>
                </div>
                <div class="title">
                  <a href="film/231446-emma-v-mire-lam.html" alt="Эмма в мире лам (2024)" title="Эмма в мире лам (2024)">Эмма в мире лам</a>
                </div>
                <span class="rating">7.5</span><span class="year">2024, TS</span>
              </li>
            </ul>

            <h2><a href="serials.html">Сериалы</a></h2>
            <ul class="items">
              <li class="item">
                <div class="poster">
                  <a href="serial/198239-koroleva-zmej.html"><img src="../st.kinobase.org/storage/242x358/posters/2022/10/f2d165af4debcc62c62c.jpg" class="img-responsive" loading="lazy" alt="Королева змей (2022)" title="Королева змей (2022)" width="242" height="358" /></a><button class="favorite" data-movie-id="198239" title="Добавить в избранное"></button><div class="label">2 сезон 1 серия</div>
                </div>
                <div class="title">
                  <a href="serial/198239-koroleva-zmej.html" alt="Королева змей (2022)" title="Королева змей (2022)">Королева змей</a>
                </div>
                <span class="rating">7.3</span><span class="year">2022, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/231436-polnyy-raskolbas-pischevaya-utopiya.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/fe584e16a0579468e9de.jpg" class="img-responsive" loading="lazy" alt="Полный расколбас: Пищевая утопия (2024)" title="Полный расколбас: Пищевая утопия (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="231436" title="Добавить в избранное"></button><div class="label">8 серия</div>
                </div>
                <div class="title">
                  <a href="serial/231436-polnyy-raskolbas-pischevaya-utopiya.html" alt="Полный расколбас: Пищевая утопия (2024)" title="Полный расколбас: Пищевая утопия (2024)">Полный расколбас: Пищевая утопия</a>
                </div>
                <span class="rating">7.3</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/194684-vikingi-valhalla.html"><img src="../st.kinobase.org/storage/242x358/posters/2023/01/a336a718ecdb0f6f1502.jpg" class="img-responsive" loading="lazy" alt="Викинги: Вальхалла (2022)" title="Викинги: Вальхалла (2022)" width="242" height="358" /></a><button class="favorite" data-movie-id="194684" title="Добавить в избранное"></button><div class="label">3 сезон 8 серия</div>
                </div>
                <div class="title">
                  <a href="serial/194684-vikingi-valhalla.html" alt="Викинги: Вальхалла (2022)" title="Викинги: Вальхалла (2022)">Викинги: Вальхалла</a>
                </div>
                <span class="rating">6.9</span><span class="year">2022, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/231111-mokrye-mayki.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/8d11e568ef1fa1b0f051.jpg" class="img-responsive" loading="lazy" alt="Мокрые майки (2024)" title="Мокрые майки (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="231111" title="Добавить в избранное"></button><div class="label">4 серия</div>
                </div>
                <div class="title">
                  <a href="serial/231111-mokrye-mayki.html" alt="Мокрые майки (2024)" title="Мокрые майки (2024)">Мокрые майки</a>
                </div>
                <span class="rating">6.8</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/230117-zlo.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/279e756449c60cd73d00.jpg" class="img-responsive" loading="lazy" alt="Зло (2019)" title="Зло (2019)" width="242" height="358" /></a><button class="favorite" data-movie-id="230117" title="Добавить в избранное"></button><div class="label">4 сезон 8 серия</div>
                </div>
                <div class="title">
                  <a href="serial/230117-zlo.html" alt="Зло (2019)" title="Зло (2019)">Зло</a>
                </div>
                <span class="rating">7.5</span><span class="year">2019, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/208828-patsany.html"><img src="../st.kinobase.org/storage/242x358/posters/2021/03/57501875775b486a33ed.jpg" class="img-responsive" loading="lazy" alt="Пацаны (2019)" title="Пацаны (2019)" width="242" height="358" /></a><button class="favorite" data-movie-id="208828" title="Добавить в избранное"></button><div class="label">4 сезон 7 серия</div>
                </div>
                <div class="title">
                  <a href="serial/208828-patsany.html" alt="Пацаны (2019)" title="Пацаны (2019)">Пацаны</a>
                </div>
                <span class="rating">7.4</span><span class="year">2019, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/231434-sanni.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/91b5eae4c8f72fb65086.jpg" class="img-responsive" loading="lazy" alt="Санни (2024)" title="Санни (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="231434" title="Добавить в избранное"></button><div class="label">2 серия</div>
                </div>
                <div class="title">
                  <a href="serial/231434-sanni.html" alt="Санни (2024)" title="Санни (2024)">Санни</a>
                </div>
                <span class="rating">7.2</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/229090-dama-s-sobachkoy.html"><img src="../st.kinobase.org/storage/242x358/posters/2022/12/2632e29f7c5fb2c2dfd4.jpg" class="img-responsive" loading="lazy" alt="Дама с собачкой (2021)" title="Дама с собачкой (2021)" width="242" height="358" /></a><button class="favorite" data-movie-id="229090" title="Добавить в избранное"></button><div class="label">2 сезон 2 серия</div>
                </div>
                <div class="title">
                  <a href="serial/229090-dama-s-sobachkoy.html" alt="Дама с собачкой (2021)" title="Дама с собачкой (2021)">Дама с собачкой</a>
                </div>
                <span class="rating">6.8</span><span class="year">2021, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/229244-vampir-redzhinald.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/05/1e24fae9a7a4be02aabc.jpg" class="img-responsive" loading="lazy" alt="Вампир Реджинальд (2022)" title="Вампир Реджинальд (2022)" width="242" height="358" /></a><button class="favorite" data-movie-id="229244" title="Добавить в избранное"></button><div class="label">2 сезон 10 серия</div>
                </div>
                <div class="title">
                  <a href="serial/229244-vampir-redzhinald.html" alt="Вампир Реджинальд (2022)" title="Вампир Реджинальд (2022)">Вампир Реджинальд</a>
                </div>
                <span class="rating">7.2</span><span class="year">2022, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/231433-prostoe-delo.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/565bdd47adeacb22b0d2.jpg" class="img-responsive" loading="lazy" alt="Простое дело (2024)" title="Простое дело (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="231433" title="Добавить в избранное"></button><div class="label">Все серии</div>
                </div>
                <div class="title">
                  <a href="serial/231433-prostoe-delo.html" alt="Простое дело (2024)" title="Простое дело (2024)">Простое дело</a>
                </div>
                <span class="rating">6.8</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/221359-i-snova-zdravstvuyte.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/9a234c592a6a62b2a6d3.jpg" class="img-responsive" loading="lazy" alt="И снова здравствуйте! (2022)" title="И снова здравствуйте! (2022)" width="242" height="358" /></a><button class="favorite" data-movie-id="221359" title="Добавить в избранное"></button><div class="label">3 сезон 2 серия</div>
                </div>
                <div class="title">
                  <a href="serial/221359-i-snova-zdravstvuyte.html" alt="И снова здравствуйте! (2022)" title="И снова здравствуйте! (2022)">И снова здравствуйте!</a>
                </div>
                <span class="rating">7.3</span><span class="year">2022, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="serial/230972-uboynyy-otpusk.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/3f5ffd7384fbeffe26ec.jpg" class="img-responsive" loading="lazy" alt="Убойный отпуск (2024)" title="Убойный отпуск (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="230972" title="Добавить в избранное"></button><div class="label">4 серия</div>
                </div>
                <div class="title">
                  <a href="serial/230972-uboynyy-otpusk.html" alt="Убойный отпуск (2024)" title="Убойный отпуск (2024)">Убойный отпуск</a>
                </div>
                <span class="rating">7.3</span><span class="year">2024, HDRip</span>
              </li>
            </ul>

            <h2><a href="tv.html">Телепередачи</a></h2>
            <ul class="items">
              <li class="item">
                <div class="poster">
                  <a href="tv_show/231474-russkaya-doroga.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/07/189382ed36f824cc6c51.jpg" class="img-responsive" loading="lazy" alt="Русская дорога (2024)" title="Русская дорога (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="231474" title="Добавить в избранное"></button><div class="label">1 выпуск</div>
                </div>
                <div class="title">
                  <a href="tv_show/231474-russkaya-doroga.html" alt="Русская дорога (2024)" title="Русская дорога (2024)">Русская дорога</a>
                </div>
                <span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/212600-shou-voli.html"><img src="../st.kinobase.org/storage/242x358/posters/2023/04/063a765973287d9c8b4d.jpg" class="img-responsive" loading="lazy" alt="Шоу Воли (2023)" title="Шоу Воли (2023)" width="242" height="358" /></a><button class="favorite" data-movie-id="212600" title="Добавить в избранное"></button><div class="label">2 сезон 23 выпуск</div>
                </div>
                <div class="title">
                  <a href="tv_show/212600-shou-voli.html" alt="Шоу Воли (2023)" title="Шоу Воли (2023)">Шоу Воли</a>
                </div>
                <span class="rating">6.3</span><span class="year">2023, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/230266-poymay-menya-esli-smozhesh.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/00a460085e33c120a1f9.jpg" class="img-responsive" loading="lazy" alt="Поймай меня, если сможешь (2024)" title="Поймай меня, если сможешь (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="230266" title="Добавить в избранное"></button><div class="label">7 выпуск</div>
                </div>
                <div class="title">
                  <a href="tv_show/230266-poymay-menya-esli-smozhesh.html" alt="Поймай меня, если сможешь (2024)" title="Поймай меня, если сможешь (2024)">Поймай меня, если сможешь</a>
                </div>
                <span class="rating">6.9</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/216650-vyzhit-v-dubae.html"><img src="../st.kinobase.org/storage/242x358/posters/2023/06/5461ce315567aa3ccebf.jpg" class="img-responsive" loading="lazy" alt="Выжить в Дубае (2023)" title="Выжить в Дубае (2023)" width="242" height="358" /></a><button class="favorite" data-movie-id="216650" title="Добавить в избранное"></button><div class="label">2 сезон 4 выпуск</div>
                </div>
                <div class="title">
                  <a href="tv_show/216650-vyzhit-v-dubae.html" alt="Выжить в Дубае (2023)" title="Выжить в Дубае (2023)">Выжить в Дубае</a>
                </div>
                <span class="rating">7</span><span class="year">2023, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/230913-mesto-sily.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/ed758a8a5d7fa80b44a9.jpg" class="img-responsive" loading="lazy" alt="Место силы (2024)" title="Место силы (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="230913" title="Добавить в избранное"></button><div class="label">2 выпуск</div>
                </div>
                <div class="title">
                  <a href="tv_show/230913-mesto-sily.html" alt="Место силы (2024)" title="Место силы (2024)">Место силы</a>
                </div>
                <span class="rating">6.5</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/6709-ufc-mma-box.html"><img src="../st.kinobase.org/storage/242x358/posters/2020/03/b155ec04e8de1f44a344.jpg" class="img-responsive" loading="lazy" alt="UFC / MMA / BOX (2019)" title="UFC / MMA / BOX (2019)" width="242" height="358" /></a><button class="favorite" data-movie-id="6709" title="Добавить в избранное"></button><div class="label">Бокс: Джонни Фишер - Ален Бабич</div>
                </div>
                <div class="title">
                  <a href="tv_show/6709-ufc-mma-box.html" alt="UFC / MMA / BOX (2019)" title="UFC / MMA / BOX (2019)">UFC / MMA / BOX</a>
                </div>
                <span class="rating">7.6</span><span class="year">2019, HDTVRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/229406-titany.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/05/315593101e10217c4fa3.jpg" class="img-responsive" loading="lazy" alt="Титаны (2024)" title="Титаны (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="229406" title="Добавить в избранное"></button><div class="label">7 выпуск</div>
                </div>
                <div class="title">
                  <a href="tv_show/229406-titany.html" alt="Титаны (2024)" title="Титаны (2024)">Титаны</a>
                </div>
                <span class="rating">7.8</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/163480-muzykalnaya-intuitsiya.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/9e095a367cb3e50f93d8.jpg" class="img-responsive" loading="lazy" alt="Музыкальная интуиция (2021)" title="Музыкальная интуиция (2021)" width="242" height="358" /></a><button class="favorite" data-movie-id="163480" title="Добавить в избранное"></button><div class="label">4 сезон 3 выпуск</div>
                </div>
                <div class="title">
                  <a href="tv_show/163480-muzykalnaya-intuitsiya.html" alt="Музыкальная интуиция (2021)" title="Музыкальная интуиция (2021)">Музыкальная интуиция</a>
                </div>
                <span class="rating">7.2</span><span class="year">2021, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/168646-formula-1.html"><img src="../st.kinobase.org/storage/242x358/posters/2021/07/e552918afc9913f5d1eb.jpg" class="img-responsive" loading="lazy" alt="Формула 1 (2021)" title="Формула 1 (2021)" width="242" height="358" /></a><button class="favorite" data-movie-id="168646" title="Добавить в избранное"></button><div class="label">Великобритания Гонка</div>
                </div>
                <div class="title">
                  <a href="tv_show/168646-formula-1.html" alt="Формула 1 (2021)" title="Формула 1 (2021)">Формула 1</a>
                </div>
                <span class="rating">7.2</span><span class="year">2021, HDTVRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/230897-posledniy-geroy-russkiy-sezon.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/891846e875edfc1e1b40.jpg" class="img-responsive" loading="lazy" alt="Последний герой. Русский сезон (2024)" title="Последний герой. Русский сезон (2024)" width="242" height="358" /></a><button class="favorite" data-movie-id="230897" title="Добавить в избранное"></button><div class="label">2 выпуск</div>
                </div>
                <div class="title">
                  <a href="tv_show/230897-posledniy-geroy-russkiy-sezon.html" alt="Последний герой. Русский сезон (2024)" title="Последний герой. Русский сезон (2024)">Последний герой. Русский сезон</a>
                </div>
                <span class="rating">7.3</span><span class="year">2024, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/196799-mister-x.html"><img src="../st.kinobase.org/storage/242x358/posters/2024/06/0ece9d97f54d324ef9da.jpg" class="img-responsive" loading="lazy" alt="Мистер X (2022)" title="Мистер X (2022)" width="242" height="358" /></a><button class="favorite" data-movie-id="196799" title="Добавить в избранное"></button><div class="label">Все выпуски</div>
                </div>
                <div class="title">
                  <a href="tv_show/196799-mister-x.html" alt="Мистер X (2022)" title="Мистер X (2022)">Мистер X</a>
                </div>
                <span class="rating">7.2</span><span class="year">2022, HDRip</span>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="tv_show/195558-kvn.html"><img src="../st.kinobase.org/storage/242x358/posters/2015/4/92uozpGaDa.jpg" class="img-responsive" loading="lazy" alt="КВН (2018)" title="КВН (2018)" width="242" height="358" /></a><button class="favorite" data-movie-id="195558" title="Добавить в избранное"></button><div class="label">29.06.2024</div>
                </div>
                <div class="title">
                  <a href="tv_show/195558-kvn.html" alt="КВН (2018)" title="КВН (2018)">КВН</a>
                </div>
                <span class="rating">6.5</span><span class="year">2018, HDRip</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

{% endblock content %}