{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/milligram.css' %}"> -->
    <title>Login</title>
</head>
<body>
    <br><br>
    <main class="container">
        <div class="row">
            <div class="column">
                <h4>Logout</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <a href="{% url 'users:login' %}">Forgot password ?</a>
                    <br>
                    <br>
                    <input type="submit" value="Login">
                </form>
            </div>
            <div class="column"></div>
          </div>

    </main>
</body>
</html>