{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">

    <title>Password reset</title>
</head>
<body>
    <br><br>
    <main class="container">
        <div class="row">
            <div class="column">
              <h1>Check your inbox.</h1>
            <p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>
            </div>
          </div>

    </main>
</body>
</html>