{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">

    <title>Password reset</title>
</head>
<body>
    <br><br>
    <main class="container">
        <div class="row">
            <div class="column">
                
              You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
                	
                	
                
                	{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
     
                	
                	The {{ site_name }} team
                	
                	
            </div>
          </div>

    </main>

</body>
</html>