{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">

    <title>Password reset</title>
</head>
<body>
    <br><br>
    <main class="container">
        <div class="row">
            <div class="column">
                {% if validlink %}

                <h1>Set a new password!</h1>
                <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change my password">
                </form>

                {% else %}

                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

                {% endif %}
            </div>
          </div>

    </main>
</body>
</html>