{% extends "base.html" %}
{% load static %}

{% block content %}
      <main>
        <section class="my-5">
          <div class="container">
              <div class="row">
                {% for product in object_list %}
                  <div class="col-md-4">
                      <div class="card">
                          <img src="{{product.image.url}}" class="card-image-top"
                      
                           alt="{{product.name}}">
                          <div class="card-body">
                              <h5 class="card-title">{{product.name}}</h5>
                              <p class="card-text">
                                <h3>
                                    <span class="text-danger">${{product.price}}</span>
                                    <strike class="text-secondary">${{product.price}}</strike>
                                </h3>
                                <span>
                                    <i class="fas fa-star text-warning"></i> 
                                    {{product.rating}}
                                </span>

                              </p>
                              <a href="#" class="btn btn-primary">Add to Cart</a>
                          </div>
                      </div>
                  </div>
                  
                  {% endfor %}

              </div>
          </div>
        </section>
      </main>
{% endblock content %}
