{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Players</title>
</head>
<body>

    {% block content %}
    {% endblock content %}

    <footer>
        <section>
            <div class="container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, velit!</p>
            </div>
        </section>
    </footer>
</body>
</html>