<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Courses</p>
    <ul>
        {% for course in courses %}
        <li>
            <a href="{% url 'main:course_detail' course.id %}">
                {{course.name}}
            </a>
        </li>
        {% endfor %}
    </ul>
    <p>Groups</p>
    <ul>
        {% for gr in groups %}
        <li>{{gr.name}}</li>
        {% endfor %}
    </ul>
</body>
</html>